.Nav-links {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.Nav-brand {
  font-size: 3rem;
  color: blueviolet;
}

.Nav-item {
  font-size: 1.5rem;
}

.Nav-link {
  color: blue;
}

.Nav button {
  margin-left: 2rem;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
  background-color: antiquewhite;
}

.menuNav {
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  z-index: 9;
  margin-left: 0;
  padding: 0;
}

.menuNav.showMenu {
  width: 100%;
}

@media (min-width: 768px) {
  .Nav button {
    display: none;
  }

  .Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    gap: 0.1rem;
    background-color: antiquewhite;
  }

  .Nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .Nav-brand {
    font-size: 3rem;
    color: blueviolet;
  }

  .Nav-item {
    font-size: 1.3rem;
  }

  .Nav-link {
    color: blue;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    width: 100%;
    overflow: hidden;
    z-index: 9;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }

  .menuNav.showMenu {
    width: 100%;
  }
}
